body {
	background-image: url("media/pluto.jpg");
	background-size: cover;
}

h2 {
	font-family: "Apple Chancery", cursive;
	color: #FFFFFF;
	text-align: center;
}
table {
	margin-left: auto;
	margin-right: auto;
	background-color: #FFB6C1;
	border: 2px solid #FFFFFF;
	padding: 20px;
}
table, td, th {
	font-family: "Apple Chancery", cursive;
	color: #FSFFFA;
	height: 20px;
	border: 5px solid #FSFFFA;
}
td, th {
	text-align: center;
	height: 20px;
	padding: 10px;
	color: #FFFFFF;
}